.footer {
    background-color: white;
    padding: 20px 180px;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed; /* Sabit konum */
    bottom: 0; /* Sayfanın altına yerleştir */
    width: 100%; /* Genişliği tam sayfa genişliğinde */
    z-index: 1000; /* Diğer elemanların üstünde gösterilmesi için */

    &__logo {
        align-items: center;
        display: flex;

        &-img {
            width: 58px;
        }

        &-text {
            font-family: "Roboto", sans-serif;
            color: rgba(90, 108, 165, 1);
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            margin: 0;

            span {
                font-family: "Roboto", sans-serif;
                font-size: 32px;
                font-weight: 300;
                line-height: 40px;
                text-align: left;
            }
        }
    }

    &__mobile {
        text-align: center;

        &-text {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: rgba(90, 108, 165, 1);
            margin-bottom: 10px;
        }
        
        &-images {
            display: flex;
            gap: 10px;
        }
    }

    &__contact {
        &-text {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: rgba(90, 108, 165, 1);
            margin-bottom: 5px;
        }

        &-phone,
        &-mail {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: rgba(90, 108, 165, 1);
        }
    }
}
