
.gallery-container {
    width: max-content;
    height: max-content;
    margin: 120px 0px ; 
    padding: 13px 80px;


    .days {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 12px;
        justify-content: space-between;

    }

    .calendar {
       text-align: left;
        display: grid;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(250, 250, 250, 1);
        border-radius: 5px;
        border: 1px solid rgba(219, 219, 219, 1);
        padding: 10px;

        &.today {
            background-color: rgba(90, 108, 165, 1);
            color: #fff;
        }

        &__header {
            font-family: "Roboto", sans-serif;
            display: flex;
            gap: 2px;
            align-items: center;

            &-dayno {
                margin: 0px;
                font-size: 25px;
            }

            &-dayname {
                margin: 0px;
                font-size: 10px;
            }

            &-month {
                margin: 0px;
                font-size: 12px;
            }

        }

        &__image {
            width: 150px;
            height: 150px;
            background-color: rgba(241, 240, 240, 1);

        }

    }

    .month__container {
        text-align: left;
        align-items: center;
        justify-content: center;


        &-text {
            font-family: "Roboto", sans-serif;
            font-size: 40px;
            font-weight: 300;
            line-height: 16px;
            color: rgba(73, 69, 79, 1);
            padding: 20px 10px;


        }


    }






}