.detail {
    width: max-content;
    height: max-content;
    margin: 138px 0px 100px 0px;
    display: block;
    gap: 20px;

    &__header {
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        text-align: end;
        margin: 10px;
        color: rgba(90, 108, 165, 1);
    }

    &__content {
        display: flex;
        gap: 50px;
        max-height: auto;
    }

    &__generate {
        width: 480px;
        height: auto;
        border-radius: 16px;
        background-color: white;
        padding: 15px;
    }

    &__date {
        font-family: "Roboto", sans-serif;
        display: flex;
        align-items: center;

        p {
            margin: 24px 5px;
        }

        &-info {
            display: block;
        }

        &-dayno {
            font-size: 100px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
        }

        &-dayname {
            font-family: Roboto;
            font-size: 45px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;

        }

        &-month {
            font-family: Roboto;
            font-size: 45px;
            font-weight: 500;
            line-height: 16px;
            text-align: left;

        }

        &-img {
            width: 448px;
            height: 448px;
        }
    }

    &__img {

        img {
            width: 448px;
            height: 448px;
        }

    }

    &__notes {
        width: max-content;
        height: 582px;
        display: block;
        gap: 20px;
        border-radius: 16px;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 10px;
        border: 1px solid rgba(193, 189, 189, 0.5);
        overflow-y: auto;

        &-area {
            margin: 20px 0px;
            display: block;
            padding: 8px;
            gap: 8px;
            width: 659px;
            min-height: 135px;
            background: #FAFAFA;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
            border-radius: 12px;


            p {
                margin: 10px;
            }
        }

        &-title {

            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.10000000149011612px;

        }
    }

}