.landingpage {
    display: block;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 110px 90px;

    &__info {
        display: flex;
        gap: 70px;
        align-items: center;
        text-align: center;

        &-img {
            width: 600px;
        }

        &-text {
            display: block;
            gap: 22px;
            width: 500px;

            h2 {
                color: rgba(90, 108, 165, 1);
                margin: 0px;
                font-size: 36px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                line-height: 40px;
                width: auto;
            }

            span {
                font-family: "Roboto", sans-serif;
                font-size: 36px;
                font-weight: 300;
                line-height: 40px;

            }

            h3 {
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.5px;

            }

            p {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.5px;
            }

        }
    }

    .middle {
        margin-top: 100px;
    }


    &__card {
        padding: 200px 0px 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        &-area {
            display: block;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 240px;
            height: 170px;
            background: #FAFAFA;
            border: 1px solid #D9D9D9;
            border-radius: 20px;
            padding: 10px;
        }

        &-img {
            width: 432px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-info {
            margin-top: 100px;
        }

    }

    &__last {
        margin: 100px;
        margin-bottom: 40px;

        p {
            width: 405px;
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
        }
    }


    &__buttons {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 20px;
    }

    .signin {
        width: 97px;
        height: 40px;
        background: #5A6CA5;
        border-radius: 100px;
        color: white;
        border: 0px;

        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.10000000149011612px;
        cursor:pointer;

    }

    .login {
        width: 97px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid #79747E;
        border-radius: 100px;
        color: rgba(90, 108, 165, 1);

        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.10000000149011612px;

        cursor:pointer;
    }


}