.reception-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        .image-container {
            display: flex;
            max-width: 40%;

            img {
                max-width: 100%;
                height: auto;
                margin-top: 50px;
                margin-right: 20px; /* Boşluk artırıldı */
            }

            img:last-child {
                margin-right: 0;
            }
        }

        .header__text {
            max-width: 50%;
            font-family: "Roboto", sans-serif;
            color: rgba(90, 108, 165, 1);
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            margin: 0px;

            span {
                font-family: "Roboto", sans-serif;
                font-size: 32px;
                font-weight: 300;
                line-height: 40px;
                text-align: left;
            }
        }

        h1 {
            font-size: 26px; 
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.5px;
            text-align: left;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}
