.note__container {
  width: max-content;
  height: max-content;
  margin: 138px 0px 100px 0px;
  display: block;
  gap: 20px;



  .note__area {
    width: 480px;
    height: auto;
    border-radius: 16px;
    padding: 15px;
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .summary-add-button {
      color: white;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 30px;
      background: linear-gradient(to right, #6A7FC1, #F3AFE5);
      margin: 0px 20px;
      padding: 5px 0px;

      p {
        margin: 5px;
      }


    }



    .note__add {

      width: 400px;
      height: 400px;
      padding: 30px;
      background: white;
      border-radius: 10px;
      display: grid;
      gap: 10px;


      &-header {
        font-size: 16px;
        height: auto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        margin: 0px;
      }

      .add__button {
        text-align: right;
        height: auto;


        &-type {
          border: 1px solid rgba(121, 116, 126, 1);
          color: rgba(90, 108, 165, 1);
          border-radius: 100px;
          width: 92px;
          height:40px;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.10000000149011612px;
          text-align: center;

        }
      }


    }


  }


  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 190, 190, 0.879);
    /* Modal arka planı için yarı saydam siyah bir renk */
    z-index: 9999;
    /* Modalın diğer öğelerin üstünde olmasını sağlar */
  }

  .modal-content {
    background-color: white;
    border-radius: 20px;
    /* Border radius değerini arttırdık */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Hafif bir gölge efekti */
    max-width: 80%;
    /* Modalın maksimum genişliği */
    max-height: 80%;
    /* Modalın maksimum yüksekliği */
    overflow-y: auto;
    /* İçeriği aşan durumlarda dikey kaydırma çubuğu göster */
    border: none;
    /* Border rengini kaldırdık */
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .modal-close-button {
    cursor: pointer;
    color: #777;
    transition: color 0.3s ease;
  }

  .modal-close-button:hover {
    color: #333;
  }


}